/* @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600;700&display=swap");

* {
  font-family: Quicksand !important;
} */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-family: "Montserrat", sans-serif;
}


body {
  margin: 0;
}
